<div class="igp-main about-site">
  <div>
    <strong>
      <a routerLink="/" class="igp-back-link">Return home</a>
    </strong>
  </div>
  <h1>About It's Got Pockets</h1>
  <p class="igp-subtitle">
    <em>It's Got Pockets aims to address the shortage of women's pockets.</em>
  </p>
  <p>
    To do that we're starting by consolidating searches for clothes with pockets from a variety of UK-based retailers. We will
    be looking into expanding our offering once we are well established with that goal.
  </p>
  <p>
    We don't sell anything directly and won't handle any of your money, we just provide a cross-retailer search.
  </p>
  <p>
    If you have any suggestions for additional features or retailers you would like listed please
    <a routerLink="/m/contact">use our contact form</a>.
  </p>
</div>
