<div class="igp-main igp-contact">
  <div>
    <strong>
      <a routerLink="/" class="igp-back-link">Return home</a>
    </strong>
  </div>
  <h1>Contact It's Got Pockets</h1>
  <div *ngIf="isMailSent" class="igp-approval-text">
    <p>Thanks! Your mail has been sent.</p>
    <p>
      <a routerLink="/">Return home</a>
    </p>
  </div>
  <form #igpContact="ngForm" class="igp-form" (ngSubmit)="sendMail(igpContact.value)" *ngIf="!isMailSent">

    <label for="igp-contact__fromEmail" class="igp-label">Your email address</label>
    <input id="igp-contact__fromEmail" class="igp-input" type="email" name="email" placeholder="Your email" (ngModel)="emailAddress"
      required>

    <label for="igp-contact__subject" class="igp-label">Subject</label>
    <div>
      <select class="igp-input" name="emailSubject" [(ngModel)]="emailSubject">
        <option value=""></option>
        <option>Suggestion</option>
        <option>Bug report</option>
        <option>Product Complaint</option>
        <option>Other</option>
      </select>
      <p *ngIf="emailSubject === 'Product Complaint'" class="igp-danger-text">If you have a problem with a product we helped you find then we are afraid that we're unlikely to be able to help,
        we recommend that you contact the seller</p>
    </div>

    <label for="igp-contact__message" class="igp-label">Your message</label>
    <textarea class="igp-input" name="message" placeholder="Your message" rows="15" (ngModel)="message" required></textarea>

    <span></span>
    <div class="igp-align-right">
      <button class="igp-btn igp-btn--primary" type="submit">Send</button>
      <p class="igp-danger-text">{{ submissionError }}</p>
    </div>
  </form>
</div>
