@import "../../../styles/variables";
$checkedColour: $brandColour;
$squareDimensions: 20px;
.igp-checkbox__container {
  display: flex;
  align-items: center;
}

.igp-checkbox {
  box-sizing: border-box;
  display: inline-block;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  min-width: $squareDimensions;
  min-height: $squareDimensions;
  border: 1px solid black;
  box-shadow: $inputShadow;
  border-radius: 2px;
  .disabled & {
    background-color: #bbb;
    opacity: 0.5;
    cursor: default;
  }
  &:hover {
    border: 2px solid $brandColour;
    background-color: #f1f1f1;
  }
}

.igp-checkbox__input {
  visibility: hidden;
  width: 0;
  height: 0;
  color: transparent;
  background-color: transparent;
  &:checked+.igp-checkbox {
    background-color: $checkedColour;
    border: 2px solid $brandColour;
    color: white;
    .disabled & {
      background-color: #6a6a6a;
      border-color: #6a6a6a;
    }
    &:after {
      box-sizing: border-box;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      position: absolute;
      left: 33%;
      top: .77777px;
      display: table;
      width: 6.66667px;
      height: 13.33333px;
      border-width: 2px;
      border-style: solid;
      border-top: 0;
      border-left: 0;
      content: "";
    }
  }
}

.igp-checkbox__label {
  height: $squareDimensions;
  padding-top: 2px;
  margin-left: $gapUnit;
  .disabled & {
    opacity: 0.7;
  }
}

:host.ng-dirty {
  .igp-checkbox__input:checked+.igp-checkbox {
    animation-name: bounceClickOn;
    animation-duration: 0.13s;
    animation-direction: alternate;
    animation-iteration-count: 2;
  }
  .igp-checkbox__input:not(:checked)+.igp-checkbox {
    animation-name: bounceClickOff;
    animation-duration: 0.13s;
    animation-direction: alternate;
    animation-iteration-count: 2;
  }
}

$varianceSize: 5px;
$iconPositionAdjustment: 2px;
@keyframes bounceClickOn {
  0% {
    min-width: $squareDimensions;
    min-height: $squareDimensions;
    width: $squareDimensions;
    height: $squareDimensions;
    margin: 0;
  }
  100% {
    min-width: $squareDimensions - $varianceSize;
    min-height: $squareDimensions - $varianceSize;
    height: $squareDimensions - $varianceSize;
    width: $squareDimensions - $varianceSize - 3px;
    padding-right: $squareDimensions - $varianceSize - 4px;
    margin: $varianceSize/2;
  }
}

@keyframes bounceClickOff {
  0% {
    min-width: $squareDimensions;
    min-height: $squareDimensions;
    width: $squareDimensions;
    height: $squareDimensions;
    margin: 0;
  }
  100% {
    min-width: $squareDimensions - $varianceSize;
    min-height: $squareDimensions - $varianceSize;
    height: $squareDimensions - $varianceSize;
    width: $squareDimensions - $varianceSize - 1px;
    margin: $varianceSize/2;
  }
}
