<span [ngClass]="{'igp-checkbox__container': true, 'disabled': disabled}">
  <input type="checkbox" class="igp-checkbox__input" [checked]="isChecked" [id]="name" [name]="name" [disabled]="disabled"
    (change)="onChange($event)">
  <label class="igp-checkbox" [for]="name"></label>
  <label *ngIf="label" [for]="name" class="igp-checkbox__label">{{ label }}</label>
</span>
