@import "../../../styles/variables";
@import "~include-media/dist/_include-media";
:host {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  @include media(">tablet") {
    width: 200px;
    margin-right: 10px;
  }
}

:host /deep/ .product-filter__title {
  display: flex;
  justify-content: space-between;
  padding: $gapUnit;
  margin: 0;
  border: 1px solid $brandColourSecondary;
  font-size: 1.1em;
  font-weight: bold;
  line-height: 30px;
  color: white;
  background-color: $brandColourSecondary;
  &:after {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    background: url("/assets/icons/chevron-brand-down.svg") no-repeat center center;
    background-size: 50px;
  }
}

.product-filter__filter-list {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.product-filter__filter-list-item {
  border: 1px solid $brandColourSecondary;
  border-top: 0;
}

:host /deep/ .product-filter__filter-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: $gapUnit $gapUnit $gapUnit $gapUnit*2;
  margin: 0;
  line-height: 20px;
  font-weight: bold;
  &:after {
    content: '';
    display: block;
    width: 32px;
    height: 20px;
    background: url("/assets/icons/chevron-brand-down.svg") no-repeat center center;
    background-size: cover;
  }
}

.product-filter__filter-controls {
  padding: 0 $gapUnit*3 $gapUnit $gapUnit*3;
}

.product-filter__filter-control {
  margin-bottom: $gapUnit*2;
}

.product-filter__list-options {
  padding: 0;
  list-style: none;
}

.product-filter__list-option {
  width: fit-content;
}

.price-range {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.price-range__limit {
  width: 46%;
}

.price-range__limit-input {
  display: inline-block;
  width: 84%;
}

.product-filter__keyword {
  display: inline-block;
  width: fit-content;
  padding: 4px;
  margin: 2px;
  border: 1px solid black;
  cursor: pointer;
  background-color: #ffa483;
  &:hover {
    border: 2px solid $brandColour;
    padding: 3px;
    font-weight: bold;
    &:after {
      content: url("/assets/icons/close-x-brand.svg");
    }
  }
  &:after {
    content: url("/assets/icons/close-x-black.svg");
    display: inline-block;
    margin-left: $gapUnit;
    height: 10px;
    width: 10px;
    line-height: 10px;
  }
}

.product-filter__error-message {
  font-size: 0.9em;
  margin: 5px 0 10px 0;
  color: $brandColourDanger;
}
