<form #productFilter="ngForm" class="product-filter" *ngIf="productFilters">
  <igp-accordion-row title="Refine Search" titleClass="product-filter__title" [isOpen]="true">
    <ul class="product-filter__filter-list">
      <li class="product-filter__filter-list-item">
        <igp-accordion-row title="Category" titleClass="product-filter__filter-title" [isOpen]="isAboveTablet">
          <div class="product-filter__filter-controls">
            <ul class="product-filter__filter-control product-filter__list-options">
              <li *ngFor="let category of categories">
                <igp-checkbox [name]="'filter-category__'+category.key" [label]="category.label" disabled="true" [ngModel]="true"></igp-checkbox>
              </li>
            </ul>
          </div>
        </igp-accordion-row>
      </li>
      <li class="product-filter__filter-list-item">
        <igp-accordion-row title="Price" titleClass="product-filter__filter-title" [isOpen]="isAboveTablet">
          <div class="product-filter__filter-controls">
            <ul class="product-filter__filter-control product-filter__list-options">
              <li class="product-filter__list-option">
                <igp-radiobutton name="filter-price__range" value="" label="No limits" (change)="setPriceRange('', '')" [(ngModel)]="priceRange"
                  [ngModelOptions]="{standalone: true}"></igp-radiobutton>
              </li>
              <li class="product-filter__list-option">
                <igp-radiobutton name="filter-price__range" value="-20" label="Under £20" (change)="setPriceRange('', 20)" [(ngModel)]="priceRange"
                  [ngModelOptions]="{standalone: true}"></igp-radiobutton>
              </li>
              <li class="product-filter__list-option">
                <igp-radiobutton name="filter-price__range" value="20-50" label="£20 - £50" (change)="setPriceRange(20, 50)" [(ngModel)]="priceRange"
                  [ngModelOptions]="{standalone: true}"></igp-radiobutton>
                <li class="product-filter__list-option">
                  <igp-radiobutton name="filter-price__range" value="50-" label="£50 and up" (change)="setPriceRange(50, '')" [(ngModel)]="priceRange"
                    [ngModelOptions]="{standalone: true}"></igp-radiobutton>
                </li>
                <li class="product-filter__list-option">
                  <igp-radiobutton name="filter-price__range" value="custom" label="Custom" [(ngModel)]="priceRange" [ngModelOptions]="{standalone: true}"></igp-radiobutton>
                </li>

            </ul>
            <div class="product-filter__filter-control price-range">
              <div class="price-range__limit">
                <label for="filter-price__min" class="igp-label">From</label>
                <div>
                  £
                  <input id="filter-price__min" name="filter-price__min" type="number" placeholder="min" class="price-range__limit-input igp-input"
                    (input)="selectPriceRangeType(productFilters.minPrice, productFilters.maxPrice)" [(ngModel)]="productFilters.minPrice">
                </div>
              </div>
              <div class="price-range__limit ">
                <label for="filter-price__max" class="igp-label">To</label>
                <div>
                  £
                  <input id="filter-price__max" name="filter-price__max" type="number" placeholder="max" class="price-range__limit-input igp-input"
                    (input)="selectPriceRangeType(productFilters.minPrice, productFilters.maxPrice)" [(ngModel)]="productFilters.maxPrice">
                </div>
              </div>
            </div>
            <div class="product-filter__error-message" *ngIf="
              productFilters.minPrice && productFilters.maxPrice && productFilters.minPrice > productFilters.maxPrice
            ">Minimum price cannot be higher than maximum price</div>
            <div class="product-filter__filter-control">
              <igp-checkbox name="filter-price__reduced" label="Discounted" [(ngModel)]="productFilters.flags.isDiscounted" (change)="updateFilters()"></igp-checkbox>
            </div>
          </div>
        </igp-accordion-row>
        </li>
        <li class="product-filter__filter-list-item ">
          <igp-accordion-row title="Keywords" titleClass="product-filter__filter-title" [isOpen]="isAboveTablet">
            <div class="product-filter__filter-controls">
              <div class="product-filter__filter-control">
                <div class="igp-submittable-input">
                  <input class="igp-input" placeholder="keywords" [(ngModel)]="newKeywordString" [ngModelOptions]="{standalone: true}" (keypress)="detectKeywordSubmission($event)">
                  <button type="button" class="igp-submittable-input__button" (click)="addKeywords()">Add</button>
                </div>
                <div class="igp-cancel" (click)="clearKeywords()" *ngIf="productFilters.keywords.length">Clear all</div>
              </div>
              <ul class="product-filter__filter-control product-filter__list-options">
                <li *ngFor="let keyword of productFilters.keywords" class="product-filter__keyword" (click)="removeKeyword(keyword)">{{keyword}}</li>
              </ul>
            </div>
          </igp-accordion-row>
        </li>
    </ul>
  </igp-accordion-row>
</form>
