<form #siteSearchForm="ngForm" (ngSubmit)="focusOrSubmitSearch()" class="site-search">
  <button #searchSubmit type="submit" class="igp-site-search__button"></button>
  <input #searchInput name="siteSearch" [(ngModel)]="siteSearch" class="igp-text-input site-search__input">
</form>
