@import "../../../styles/variables";
@import "~include-media/dist/_include-media";
:host {
  position: absolute;
  right: $siteMarginSmall;
  width: 90%;
  max-width: 250px;
  flex-shrink: 1;
  @include media(">phone") {
    right: $siteMarginLarge;
  }
  @include media(">tablet") {
    position: static;
    align-items: center;
  }
}

.site-search {
  display: flex;
  height: 42px;
  line-height: 42px;
  justify-content: flex-start;
  flex-direction: row-reverse;
  @include media(">tablet") {
    height: 30px;
    margin-top: 8px;
  }
}

.site-search__input {
  width: 0;
  flex-shrink: 1;
  border: 0;
  box-shadow: $inputShadow;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  @include media("<tablet") {
    &:focus,
    .igp-site-search__button:focus+& {
      width: 100%;
      padding-left: 7px;
      border: 1px solid $brandColourSecondary;
      border-right: 0;
    }
    .igp-site-search__button:focus+& {
      animation-duration: 1s;
      animation-name: cloak;
    }
    &:focus {
      transition: width .7s ease-out;
    }
  }
  @include media(">tablet") {
    width: 100%;
    height: 30px;
    padding-left: $gapUnit;
    border: 1px solid $brandColourSecondary;
    border-right: 0;
  }
}

.igp-site-search__button {
  width: 42px;
  height: auto;
  padding: 5px;
  border: 0;
  border-radius: 0;
  background: $brandColour url("/assets/icons/search-icon.svg") no-repeat center center;
  background-size: 25px;
  flex-shrink: 0;
  box-shadow: $inputShadow;
  &:hover,
  &:focus {
    background-color: darken($brandColour, 15%);
  }
  @include media(">tablet") {
    width: 30px;
    background-size: 17px;
  }
}

@keyframes cloak {
  from {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}
