<footer class="igp-site-footer">
  <div>
    <a routerLink="/meta/about" class="footer-text">About</a>
    <a routerLink="/meta/contact" class="footer-text">Contact</a>
  </div>
  <div class="footer-text">Site design &copy; Ben Watson 2018</div>
</footer>
