@import "../../../styles/variables";
@import "~include-media/dist/_include-media";
.igp-site-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 20px;
  padding: 0 $gapUnit * 2;
  background-color: $brandColourSecondary;
  @include media("<phone") {
    padding-left: $gapUnit;
    padding-right: $gapUnit;
  }
}

.footer-text {
  font-size: 0.8em;
  line-height: 20px;
  color: white;
  font-weight: bold;
  margin: 0 $gapUnit;
  text-align: right;
}
