@import "../../../styles/variables";
$checkedColour: $brandColour;
$outerCircleSize: 20px;
$innerDotSize: 12px;
.igp-radio__input {
  visibility: hidden;
  width: 0;
  height: 0;
  &:checked+.igp-radio {
    border-color: $checkedColour;
    border-width: 2px;
    &:after {
      content: "";
      display: block;
      width: $innerDotSize;
      height: $innerDotSize;
      border-radius: $innerDotSize;
      background-color: $checkedColour;
      border: 2px solid white;
    }
  }
}

.igp-radio {
  display: inline-block;
  position: relative;
  width: $outerCircleSize;
  height: $outerCircleSize;
  border: 1px solid black;
  border-radius: $outerCircleSize;
  box-shadow: $inputShadow;
  cursor: pointer;
  &:hover {
    border: 2px solid $brandColour;
    background-color: #f1f1f1;
  }
}

.igp-radio__label {
  height: 20px;
  line-height: 23px;
  vertical-align: top;
}

:host.ng-dirty {
  .igp-radio__input:checked+.igp-radio:after {
    animation-name: growOut;
    animation-duration: .2s;
  }
}

@keyframes growOut {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}
