<input type="radio" class="igp-radio__input" [name]="name" [id]="id" [value]="value" (change)="onChange($event)" [checked]="isChecked"
  ngModel>
<label [for]="id" class="igp-radio"></label>
<label [for]="id" class="igp-radio__label">{{ label }}</label>
