.accordion-title {
  cursor: pointer;
  &:after {
    transform: rotate(0);
    transition: transform 0.5s ease;
  }
  &.open:after {
    transform: rotate(180deg);
    transition: transform 0.5s ease;
  }
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.accordion-content--open {
  max-height: 500px;
  transition: max-height 0.5s ease-in;
}

@keyframes expand-down {
  from {
    transform: scale(1, 0);
  }
  to {
    transform: scale(1);
  }
}
