<div [ngClass]="titleClass + ' accordion-title ' + (isOpen ? ' open' : '')" (click)="toggleStatus()">{{ title }}</div>
<div [ngClass]="{'accordion-content': true, 'accordion-content--open': isOpen}" [ngStyle]="{'max-height': isOpen ? maxheight : 0}">
  <ng-content></ng-content>
</div>
