<div class="product-card__container" *ngIf="product">
  <div class="product-card">
    <a [href]="product.images[activeImage].variantLink || product.link" class="product-card__link">
      <img [src]="product.images[activeImage].src" class="product-card__main-image" />
      <h2 class="product-card__title">{{ product.title }}</h2>
    </a>
    <ul class="image-swatch" *ngIf="product.images?.length > 1">
      <li class="image-swatch__item" *ngFor="let image of product.images; let i = index" (click)="changeImage(i)">
        <img class="image-swatch__image" [src]="image.thumb || image.src" />
      </li>
    </ul>
    <div class="product-card__price">
      <h3 *ngIf="product.wasPrice" class="product-card__was-price">{{ product.wasPrice | currency }}</h3>
      <h3 class="product-card__now-price">{{ product.price | currency }}</h3>
    </div>
  </div>
</div>
