@import "../../../styles/variables";
@import "~include-media/dist/_include-media";
$cardPadding: 10px;
.product-card__container {
  position: relative;
  height: 100%;
}

.product-card {
  height: 100%;
  overflow: hidden;
  padding: $cardPadding;
  border: $softEdge;
  @include media(">phone") {
    &:hover {
      border: 2px solid $brandColour;
      background-color: #fafafa;
      .product-card__description:after & {
        background-image: linear-gradient(to left, rgba(250, 250, 250, 1), rgba(255, 255, 255, 0));
      }
    }
  }
}

.product-card__main-image {
  width: 100%;
  height: auto;
}

.product-card__link {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: underline;
  }
}

.product-card__title {
  font-size: 1em;
  min-height: 76px;
  margin-bottom: $gapUnit;
}

.product-card__price {
  display: flex;
  flex-wrap: wrap;
}

.product-card__now-price {
  margin: 0;
}

.product-card__was-price {
  text-decoration: line-through;
  color: $brandColourDanger;
  margin: 0 15px 0 0;
}

.product-card__description:after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
  margin-left: -$cardPadding;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.image-swatch {
  padding: 0;
}

.image-swatch__item {
  display: inline-block;
  width: 14%;
  height: auto;
  margin: 0 $gapUnit;
  cursor: pointer;
}

.image-swatch__image {
  width: 100%;
  height: auto;
}
