@import "../../../styles/variables";
@import "~include-media/dist/_include-media";
:host {
  flex-grow: 1;
}

.product-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  gap: 10px;
  padding: 0;
  margin: 0;
  list-style: none;
  @include media (">phone") {
    grid-template-columns: repeat(auto-fill, minmax(127px, 1fr));
  }
  @include media(">tablet") {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@include media (">phone") {
   :host /deep/ .product-list__item.hover {
    position: relative;
    .product-list__content {
      position: absolute;
      top: -5%;
      left: -5%;
      width: 110%;
      height: 110%;
      z-index: 10;
      animation-name: grow;
      animation-duration: .3s;
      font-size: 1.15em;
    }
  }
}

@keyframes grow {
  from {
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    font-size: 1em;
  }
  to {
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    font-size: 1.15em;
  }
}
