<ul class="product-list">
  <li (mouseleave)="releaseHeight($event)" (mouseenter)="fixHeight($event)" class="product-list__item" *ngFor="let product of productList| paginate: { itemsPerPage: pageSize, currentPage: currentPage, totalItems: productList.length }">
    <product-card [product]="product" class="product-list__content"></product-card>
  </li>
</ul>
<div *ngIf="!productList.length">Sorry! We couldn't find any matching items. Please try expanding your search</div>
