<header class="igp-site-header">
  <div class="igp-logo">
    <a href="/">
      <img class="igp-logo__image" src="/assets/logo/logo.svg" alt="IGP Logo" />
    </a>
    <img class="igp-logo__text" src="/assets/logo/logo-text.svg">
  </div>
  <site-search></site-search>
</header>
