@import "../../../styles/variables";
@import "~include-media/dist/_include-media";
.igp-site-header {
  display: flex;
  position: relative;
  width: 100%;
  padding: 10px $siteMarginSmall;
  border-bottom: $softEdge;
  justify-content: space-between;
  @include media(">phone") {
    padding: 10px $siteMarginLarge;
  }
}

$logoHeight: 42px;
.igp-logo {
  display: flex;
  text-decoration: none;
  @include media("<tablet") {
    &:after {
      content: url("/assets/logo/logo-short-text.svg");
      margin: 9px 0 0 10px;
    }
  }
}

.igp-logo__image {
  height: $logoHeight;
}

.igp-logo__text {
  display: inline-block;
  margin: 0 0 0 10px;
  line-height: $logoHeight;
  font-size: 1.25em;
  color: black;
  @include media("<tablet") {
    display: none;
  }
  @include media(">tablet") {
    font-size: 2em;
  }
}
