@import "../variables";
.igp-label {
  display: inline-block;
  margin: $gapUnit 0;
  color: $brandColourSecondary;
}

.igp-input {
  width: 100%;
  padding-left: 5px;
  border: 1px solid $brandColourSecondary;
  margin: $gapUnit 0;
  box-shadow: $inputShadow;
  border-radius: 2px;
}

.igp-select {
  padding: 1px;
  border: $inputBorder;
  box-shadow: $inputShadow;
  border-radius: $inputBorderRadius;
  outline: none;
  &:focus {
    padding: 0;
    border: 2px solid $brandColour;
  }
}

.igp-submittable-input {
  display: flex;
  .igp-input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
    margin: 0;
  }
}

.igp-submittable-input__button {
  background-color: $brandColour;
  padding: 5px;
  border: 0;
  border-radius: 0;
  flex-shrink: 0;
  box-shadow: $inputShadow;
  font-weight: bold;
  &:hover {
    background-color: darken($brandColour, 15%);
  }
  &:active {
    background-color: lighten($brandColour, 10%);
  }
}

.igp-cancel {
  font-size: 0.9em;
  margin: 5px 0;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.igp-form {
  @include media(">tablet") {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-gap: $gapUnit *2;
    gap: $gapUnit *2;
  }
}

select.igp-input:invalid {
  color: #888;
}

.igp-btn {
  width: 100%;
  border: none;
  box-shadow: $inputShadow;
  font-weight: bold;
  color: white;
  background-color: $brandColour;
  @include media(">tablet") {
    max-width: 150px;
  }
  &:hover {
    box-shadow: 1px 2px 2px #888;
    background-color: lighten($brandColour, 10%);
  }
}

.igp-btn--primary {}
