<div class="igp-main">
  <div>
    <strong>
      <a routerLink="/" class="igp-back-link">Return home</a>
    </strong>
  </div>
  <h2>Showing search results for '{{ searchTerms }}'</h2>
  <product-browser [searchContext]="searchContext"></product-browser>
</div>
