<div class="igp-sidebar-content-container">
  <div class="igp-sidebar-container">
    <product-filter [filterQuery]="filterQuery"></product-filter>
  </div>
  <div *ngIf="productList" class="igp-content-container">
    <product-filter-summary [resultCount]="productList.length" [filterQuery]="filterQuery" [pageSize]="pageSize"></product-filter-summary>
    <div class="list-navigation" *ngIf="productList?.length">
      <pagination-controls (pageChange)="changePage($event)"></pagination-controls>
      <div>
        <label for="product-sort">Sort:</label>
        <select id="product-sort" [(ngModel)]="sortOrder" class="igp-select" (change)="updateSortOrder()">
          <option value="">Default</option>
          <option value="price_d">Price: Descending</option>
          <option value="price_a">Price: Ascending</option>
        </select>

      </div>
    </div>
    <product-list [productList]="productList" [currentPage]="currentPage" [pageSize]="pageSize"></product-list>
    <pagination-controls *ngIf="productList?.length" (pageChange)="changePage($event)"></pagination-controls>
  </div>
</div>
