@import "../../../styles/variables";
.list-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}

:host /deep/ .ngx-pagination {
  padding: 0;
  .current {
    background-color: $brandColour;
  }
}
