@import "variables";
@import "~include-media/dist/_include-media";
@import "igp/fonts";
@import "igp/forms";
* {
  box-sizing: border-box;
}

html {
  background-color: #ddd;
}

body {
  background-color: white;
}

textarea,
input,
button {
  outline: none;
}

a {
  color: #1e6cff;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.igp-main {
  margin: 10px $siteMarginSmall;
  @include media(">phone") {
    margin: 10px $siteMarginLarge;
  }
}

.igp-sidebar-content-container {
  @include media(">tablet") {
    display: flex;
  }
}

.igp-sidebar-container {
  flex-shrink: 0;
}

.igp-content-container {
  width: 100%;
  min-height: 800px;
  flex-shrink: 1;
}

.igp-align-right {
  text-align: right;
}

.igp-subtitle {
  font-size: 1.1em;
  font-weight: bold;
  font-style: italic;
}

.igp-danger-text {
  color: $brandColourDanger;
}

.igp-approval-text {
  color: $brandColourApprove;
}

.igp-back-link {
  &:before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    padding-right: $gapUnit;
    background: url("/assets/icons/chevron-brand-down.svg") no-repeat center center;
    background-size: 30px;
    transform: rotate(90deg);
  }
}
