$brandColour: #ff1e6c;
$brandColourSecondary: black;
$brandColourDanger: #ff1e34;
$brandColourApprove: #34c22c;
$brandColourCaution: #E9C91C;
$brandColourSoft: #A4D1CA;
$softEdgeColour: $brandColourSoft;
$softEdge: 1px solid $softEdgeColour;
$gapUnit: 5px;
$siteMarginSmall: $gapUnit;
$siteMarginLarge: $gapUnit*3;
$inputShadow: 1px 1px 2px #888;
$inputBorder: 1px solid $brandColourSecondary;
$inputBorderRadius: 2px;
